table {
  	border: 1px solid #666;
  	width: 80%;
  	margin: 20px 0 20px 0 !important;
  	font-size: 14px;
  }
  
  th,td {
  	padding: 2px 4px 2px 4px !important;
  	text-align: left;
  	vertical-align: top;	
  }
  
  thead tr {
  	background-color: #fc0;
  }
  
  th.sorted {
  	background-color: orange;
  }
  
  th a,th a:visited {
  	color: black;
  }
  
  th a:hover {
  	text-decoration: underline;
  	color: black;
  }
  
  th.sorted a,th.sortable a {
  	background-position: right;
  	display: block;
  	width: 100%;
  }
  
  tr.odd {
  	background-color: #fff
  }
  
  tr.tableRowEven,tr.even {
  	background-color: #fea
  }
  
  div.exportlinks {
  	background-color: #eee;
  	border: 1px dotted #999;
  	padding: 2px 4px 2px 4px;
  	margin: 2px 0 10px 0;
  	width: 79%;
  }
  
  span.export {
  	padding: 0 4px 1px 20px;
  	display: inline;
  	display: inline-block;
  	cursor: pointer;
  }
  
  span.pagebanner {
  	background-color: #eee;
  	border: 1px dotted #999;
  	padding: 2px 4px 2px 4px;
  	width: 79%;
  	margin-top: 10px;
  	display: block;
  	border-bottom: none;
  }
  
  span.pagelinks {
  	background-color: #eee;
  	border: 1px dotted #999;
  	padding: 2px 4px 2px 4px;
  	width: 79%;
  	display: block;
  	border-top: none;
  	margin-bottom: -5px;
  }
  
  
  .group-1 {
      font-weight:bold;
      padding-bottom:10px;
      border-top:1px solid black;
  }
  .group-2 {
      font-style:italic;
      border-top: 1px solid black;
  
  }
  .subtotal-sum, .grandtotal-sum {
      font-weight:bold;
      text-align:right;
  }
  .subtotal-header {
      padding-bottom: 0px;
      border-top: 1px solid white;
  }
  .subtotal-label, .grandtotal-label {
      border-top: 1px solid white;
      font-weight: bold;
  }
  .grouped-table tr.even {
      background-color: #fff;
  }
  .grouped-table tr.odd {
      background-color: #fff;
  }
  .grandtotal-row {
      border-top: 2px solid black;
  }